@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {

    background-color: #e0c0f2;
}

.cabecario {
    font-size: .9rem;
    background-color: #bc74ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 19px;
    box-shadow: 0 0 1rem .1rem #2a3c24;
    width: 100%;
    gap: 1rem;
    top: 0;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;

}

.quiz {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;

}

.digitar-nome {
    position: fixed;
    top: 8rem;
    left: 4rem;

}

#nome-usuario {

    font-size: large;
    width: 25rem;
    border: solid .13rem;
    border-radius: .4rem;

}

#perg-1 {
    font-size: large;
    width: 4rem;
    border: solid .13rem;
    border-radius: .4rem;
}

#perg-2 {
    font-size: large;
    width: 7.5em;
    border: solid .13rem;
    border-radius: .4rem;
}

#perg-3 {
    font-size: large;
    width: 20rem;
    border: solid .13rem;
    border-radius: .4rem;

}

.pergunta-1 {
    position: fixed;
    top: 11rem;
    left: 4rem;

}

.pergunta-4 {
    position: fixed;
    top: 20rem;
    left: 4rem;

}

.pergunta-5 {
    position: fixed;
    top: 23rem;
    left: 4rem;
}

.pergunta-6 {
    position: fixed;
    top: 26rem;
    left: 4rem;

}

.botao{

    position: fixed;
    top: 30rem;
    left: 4rem;
    height: 3rem;
    width: 5rem;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    border: solid .13rem;
    border-radius: .4rem;
}

.rodape {
    background-color: #bc74ff;
    padding-bottom: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30.4rem;
    padding-top: 2rem;
    height: 4rem;
}